<!DOCTYPE html>
<html>
<head>
  <title>HANGMAN GAME in QUIZ| Ruby on Rails</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "style.css" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
</head>
<body>
<br/>
<br/>
<h1 style="text-align:center;color:#957;">HANGMAN GAME in QUIZ using Ruby on Rails</h1>
<%= yield %>
<pre style="position:relative;text-align:center;color:#957;bottom:1em;">
Designed by Nikhil John
</pre>
</body>
</html>
